<% self.title = Spree.t('coming.coming_soon') %>
<div class="container d-flex justify-content-center mb-5">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h1 class="cs-headline"><%= Spree.t('coming.coming_soon') %></h1>
      <%= render "spree/shared/subscription" %>
    </div>
  </div>
</div>

