<% self.title = Spree.t('about.about_us') %>
<div class="d-flex justify-content-center mb-5">
	<div class="panel panel-default">
		<div>
			<%= image_tag "/images/banner.png", class: "responsive" %>
		</div>
		<div id="intro" class="container-fluid text-center text-padding bg-sand">
			<h1><%= Spree.t('about.intro_title') %></h1>			
			<p><%= Spree.t('about.intro_subtitle') %></p>
			<br/>
			<br/>
			<br/>
			<div>
				<h5>Check out our DEMO site here:</h5>
				<h5><%= link_to "demo.torgobi.com", root_path %></h5>
			</div>
		</div>
		<!-- Container (About Section) -->
		<div id="about" class="container-fluid text-center text-padding">
			<h2><%= Spree.t('about.about_us') %></h2>
			<br>
			<h5><%= Spree.t('about.about_us_text') %></h5>
			<br>
			<br>
			<%= link_to Spree.t('message.get_in_touch'), contact_path, class: 'btn btn-primary spree-btn' %>
		</div>
		<!-- Container (How It Works Section) -->
		<div id="services" class="container-fluid text-center text-padding bg-sand">
			<h2><%= Spree.t('about.services_title') %></h2>
			<br>
			<h5><%= Spree.t('about.services_text') %>:</h5>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<%= image_tag "/images/globe.png" %>
					<span class="glyphicon glyphicon-globe logo-small"></span>
					<h4><%= Spree.t('about.services_step1_title') %></h4>
					<p><%= Spree.t('about.services_step1_text') %></p>
				</div>
				<div class="col-sm-3">
					<%= image_tag "/images/buy.png" %>
					<span class="glyphicon glyphicon-shopping-cart logo-small"></span>
					<h4><%= Spree.t('about.services_step2_title') %></h4>
					<p><%= Spree.t('about.services_step2_text') %></p>
				</div>
				<div class="col-sm-3">
					<%= image_tag "/images/location.png" %>
					<span class="glyphicon glyphicon-map-marker logo-small"></span>
					<h4><%= Spree.t('about.services_step3_title') %></h4>
					<p><%= Spree.t('about.services_step3_text') %></p>
				</div>
				<div class="col-sm-3">
					<%= image_tag "/images/plane.png" %>
					<span class="glyphicon glyphicon-send logo-small"></span>
					<h4><%= Spree.t('about.services_step4_title') %></h4>
					<p><%= Spree.t('about.services_step4_text') %></p>
				</div>				
			</div>
		</div>
		<!-- Container (Team Section) -->
		<div id="team" class="container-fluid text-center text-padding">
			<h2><%= Spree.t('about.team_title') %></h2>
			<br>
			<h5><%= Spree.t('about.team_text') %>:</h5>
			<br>
			<div class="row text-center">
				<div class="col-sm-3">
					<div>						
						<%= image_tag "/images/bil.png" %>
						<p><strong>Bilguun</strong></p>
						<p><%= Spree.t('about.team_member1') %></p>
					</div>
				</div>
				<div class="col-sm-3">
					<div>
						<%= image_tag "/images/dim.png" %>
						<p><strong>Dima</strong></p>
						<p><%= Spree.t('about.team_member2') %></p>
					</div>
				</div>
				<div class="col-sm-3">
					<div>
						<%= image_tag "/images/zuz.png" %>
						<p><strong>Zuzana</strong></p>
						<p><%= Spree.t('about.team_member3') %></p>
					</div>
				</div>
				<div class="col-sm-3">
					<div>
						<%= image_tag "/images/gun.png" %>
						<p><strong>Gunnar</strong></p>
						<p><%= Spree.t('about.team_member4') %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>