<% self.title = Spree.t('message.contact_us') %>
<div class="container d-flex justify-content-center mb-5">
<div class="col-md-6">
<div class="panel panel-default">
  <h3 class="spree-mb-large spree-mt-large spree-header"><%= Spree.t('message.contact_us') %></h3>
  <div id="message" class="panel-body" data-hook="login">
  <%= form_with model: @message, url: messages_path, local: true do |f| %>
    <div class="mb-4">
      <%= f.invisible_captcha :subtitle, visual_honeypots: false %>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.text_field :name, class: 'spree-flat-input', placeholder: Spree.t('message.name'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @message, param: :name} %>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.email_field :notification_email, class: 'spree-flat-input', placeholder: Spree.t('message.email'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @message, param: :notification_email} %>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.text_field :subject, class: 'spree-flat-input', placeholder: Spree.t('message.subject'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @message, param: :subject} %>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.text_area :body, class: 'spree-flat-input', placeholder: Spree.t('message.body'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @message, param: :body} %>
      </div>
      <div class="spree-checkbox-container mt-4 mt-sm-5 mt-lg-4 spree-mb-medium">
        <div class="spree-checkbox">
          <%= f.check_box :newsletter, { checked: true } %>
          <%= f.label :newsletter, '' %>
        </div>
        <%= f.label :newsletter, Spree.t('message.subscribe'), class: 'spree-checkbox-label' %>
      </div>
    </div>
    <div>
      <%= f.submit Spree.t('message.send'), class: "btn btn-primary btn-block spree-btn mt-2 mb-3", data: { disable_with: "#{ Spree.t('seller.sending') }" } %>
    </div>
    <div>
      <!-- <%= render 'spree/shared/error_messages', target: @vendor %> -->
    </div>
  <% end %>
  </div>
</div>
</div>
</div>

