<% if target && target.errors.full_messages_for(param).any? %>
  <div id="errorExplanation" class="alert alert-danger d-flex justify-content-center mb-0" data-hook>
     <ul class="mb-0 pl-0"  style="list-style-type: none;">
        <% target.errors.full_messages_for(param).each do |message| %>
          <li><%= message %></li>
        <% end %>
     </ul>
     <br/>
  </div>
<% end %>
