<div class="container d-flex justify-content-center mb-5">
<div class="col-md-6">
<div class="panel panel-default">
  <h5 class="spree-mb-medium spree-mt-medium spree-header"><%= Spree.t('coming.get_notified') %></h5>
  <div id="subscription" class="panel-body" data-hook="login">
  <%= form_with model: @subscription, url: subscriptions_path, local: true do |f| %>
    <div class="mb-4">
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.text_field :name, class: 'spree-flat-input', placeholder: Spree.t('message.name'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @subscription, param: :name} %>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.email_field :notification_email, class: 'spree-flat-input', placeholder: Spree.t('message.email'), autofocus: true, required: true %>
        </p>
        <%= render partial: "spree/shared/error_message", locals: {target: @subscription, param: :notification_email} %>
      </div>
    </div>
    <div>
      <%= f.submit Spree.t('coming.subscribe'), class: "btn btn-primary btn-block spree-btn mt-2 mb-3", data: { disable_with: "#{ Spree.t('seller.sending') }" } %>
    </div>
  <% end %>
  </div>
</div>
</div>
</div>
